<style type="text/css">
    #display-listing-loading {
        display:none;
        margin-top:100px;
    }
    #display-listing-success {
        display:none;
    }
    #listing-display-container {
        margin-top:70px;
    }
    #listing-display-container hr {
        border-color: #acacac;
    }
    #display-listing-carousel {
        min-height: 250px;
        min-width: 330px;
        background-color: #494949;
    }
    .main-button-menu-border {
        border-top: 1px solid #acacac;
        border-bottom: 1px solid #acacac;
        padding-top:10px;
        padding-bottom:10px;
        height:100%;
        display:block;
    }
    .main-button-menu-container {
        display:table;
    }
    .main-button-menu {
        list-style: none;
        margin:0;
        padding:0;
        display:inline-block;
    }
    .main-button-menu li {
        padding: 8px;
        text-align: center;
        float:left;
        width: 150px;
        background-color: #E0E0E0;
        margin: 1px;
        height: 100px;
    }
    .main-button-menu .glyphicon {
        font-size: 36px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main-button-menu span {
        display: block;
        font-size: 14px;
    }
    .main-button-menu li:hover {
        background-color: #f2c747;
    }
    #display-listing-carousel img {
        height:320px;
    }
    @media only screen and (max-width:600px) {

        .main-button-menu li{
            padding: 6px;
            width: 100px;
            height: 85px;
        }
        .main-button-menu .glyphicon {
            font-size:24px;
        }
        .main-button-menu span {
            font-size: 10px;
        }
    }
</style>

<div ng-controller="displayListingController" id="listing-display-container">
    <!-- modal for emailing a friend -->
    <div class="modal fade" id="email-friend-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Email Listing To Friend</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="listing-title" class="col-sm-3 control-label">Listing Title</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="listing-title" placeholder="John Doe" value="{{listing.Headline}}" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Your Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="name" placeholder="John Doe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="your-email" class="col-sm-3 control-label">Your Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="your-email" placeholder="jdoe@email.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="friends-name" class="col-sm-3 control-label">Friend's Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="friends-name" placeholder="Joe Doe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="friends-email" class="col-sm-3 control-label">Friend's Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="friends-email" placeholder="joedoe@otheremail.com">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- loading screen -->
    <div id="display-listing-loading" class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img class="center-block" src="/images/ajax-loader.gif">
            </div>
        </div>
    </div>

    <div ng-if="listing.result == 'success'" id="display-listing-success">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">


                <div>Listing {{listing.ListingID}} Details</div>

                <!-- title and slide show -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #2d6c9c;"><strong>{{listing.Headline}}</strong></h3>
                        </div>
                    </div>
                </div>

                <br>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-7">

                            <!-- image carousel -->
                            <div id="display-listing-carousel" class="carousel slide" data-ride="carousel">

                                <!-- indicators -->
                                <ol class="carousel-indicators">
                                    <li ng-repeat="photo in listing.photos" ng-class="{active: $index === 0}" data-target="#display-listing-carousel" data-slide-to="{{$index}}"></li>
                                </ol>

                                <!-- wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item" ng-repeat="photo in listing.photos" ng-class="{active: $index === 0}">
                                        <img src="http://far.giddion.com/Uploads/Listings/{{photo.ImageURL}}" class="img-responsive center-block">
                                    </div>
                                </div>

                                <!-- controls -->
                                <a id="display-listing-carousel-prev" class="left carousel-control" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a id="display-listing-carousel-next" class="right carousel-control"  role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>


                        <script type="text/javascript">
                            (function(){
                                $('#display-listing-carousel-prev').on('click', function(){
                                    $('#display-listing-carousel').carousel('prev');
                                });
                                $('#display-listing-carousel-next').on('click', function(){
                                    $('#display-listing-carousel').carousel('next')
                                });
                            })();
                        </script>

                        <div class="col-lg-5">
                            <h4><strong>Property Information</strong></h4>
                            <table class="table table-striped">
                                <tr>
                                    <th>Address</th>
                                    <td>
                                        {{listing.Address}}<br>
                                        {{listing.City}}, {{listing.State}}. {{listing.ZipCode}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Rental Type(s)</th>
                                    <td>{{listing.PropertyTypes}}</td>
                                </tr>
                                <tr>
                                    <th>Unit Type(s)</th>
                                    <td>{{listing.UnitTypes}}</td>
                                </tr>
                                <tr>
                                    <th># of Bathrooms</th>
                                    <td>{{listing.Bathrooms}}</td>
                                </tr>
                                <tr>
                                    <th># of Bedrooms</th>
                                    <td>{{listing.Bedrooms}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <br>

                <!-- UI button section -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-button-menu-border">
                                <div class="center-block main-button-menu-container">
                                    <ul class="main-button-menu">
                                        <li role="button" ng-click="seeOnMap()" >
                                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                            <span>View this listing on Map</span>
                                        </li>
                                        <li role="button" ng-click="gotToListingSearch()">
                                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                            <span>See other properties from this landlord</span>
                                        </li>
                                        <li role="button" data-toggle="modal" data-target="#email-friend-modal">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                            <span>Email this listing to a friend</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><strong>Description</strong></h3>
                            <p>{{listing.MarketingMessage}}</p>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><strong>Unit Information</strong></h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Lease Term</th>
                                    <td>{{listing.LeaseTerm}}</td>
                                </tr>
                                <tr>
                                    <th>Rent</th>
                                    <td>${{listing.Rent}}</td>
                                </tr>
                                <tr>
                                    <th>Appliances Included</th>
                                    <td>{{listing.Appliances}}</td>
                                </tr>
                                <tr>
                                    <th>Storage</th>
                                    <td>{{listing.Storage}}</td>
                                </tr>
                                <tr>
                                    <th>Utilities Included</th>
                                    <td>{{listing.Utilities}}</td>
                                </tr>
                                <tr>
                                    <th>Pet Policy</th>
                                    <td>{{listing.PetPolicy}}</td>
                                </tr>
                                <tr>
                                    <th>Additional Notes</th>
                                    <td>{{listing.PetNotes}}</td>
                                </tr>
                                <tr>
                                    <th>Smoking</th>
                                    <td>{{listing.Smoking}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><strong>Property Features</strong></h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Additional Notes</th>
                                    <td>{{listing.ParkingSpacesNotes}}</td>
                                </tr>
                                <tr>
                                    <th>On Site Amenities</th>
                                    <td>{{listing.OnSiteAmenities}}</td>
                                </tr>
                                <tr>
                                    <th>Area Amenities</th>
                                    <td>{{listing.AreaAmenitiesNotes}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div ng-if="listing.result == 'error' || listing.result == 'server error'">
        <div class="col-md-10 col-md-offset-1">
            <div class="well">
                <h4>Type: {{listing.result}}</h4>
                <ul class="list-unstyled">
                    Reasons:
                    <li ng-repeat="reason in listing.reasons">{{reason}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>