<style type="text/css">
    #featured-communities-container {
        margin-top:70px;
    }
    #featured-communities-container ul {
        list-style: none;
        margin:0;
        padding:0;
    }
    #featured-communities-container li {
        font-weight: bold;
        margin:2px;
    }
    .featured-communities-section-title {
        margin-bottom:2px;
        border-bottom:1px solid #acacac;
    }
    .featured-communities-cols {
        margin-top:10px
    }
</style>

<div id="featured-communities-container" class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>FIND COMMUNITIES WITH APARTMENTS FOR RENT IN CT & RI</h4>
                    </div>
                </div>
            </div>

            <!-- CT communities -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="featured-communities-section-title">CONNECTICUT</h4>
                    </div>
                </div>
                <div class="row featured-communities-cols">
                    <div class="col-sm-3">
                        <ul>
                            <li><a role="button">Ashford</a></li>
                            <li><a role="button">East Hartford</a></li>
                            <li><a role="button">East Haven</a></li>
                            <li><a role="button">Ellington</a></li>
                            <li><a role="button">Groton</a></li>
                            <li><a role="button">Hamden</a></li>
                            <li><a role="button">Hartford</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><a role="button">Jewett City</a></li>
                            <li><a role="button">Manchester</a></li>
                            <li><a role="button">Mansfield</a></li>
                            <li><a role="button">Mansfield Center</a></li>
                            <li><a role="button">Middletown</a></li>
                            <li><a role="button">Naugatuck</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><a role="button">New Britain</a></li>
                            <li><a role="button">New Haven</a></li>
                            <li><a role="button">New London</a></li>
                            <li><a role="button">Norwich</a></li>
                            <li><a role="button">Rocky Hill</a></li>
                            <li><a role="button">Vernon</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><a role="button">Vernon Rockville</a></li>
                            <li><a role="button">Wallingford</a></li>
                            <li><a role="button">Waterbury</a></li>
                            <li><a role="button">West Haven</a></li>
                            <li><a role="button">Willington</a></li>
                            <li><a role="button">Windham</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>

            <!-- RI communities -->
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-sm-12">
                        <h4 class="featured-communities-section-title">RHODE ISLAND</h4>
                    </div>
                </div>
                <div class="row featured-communities-cols">
                    <div class="col-sm-4">
                        <ul>
                            <li><a role="button">Johnston</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li><a role="button">Wakefield</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li><a role="button">Westerly</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>