<style type="text/css">
    #featured-brokers-container {
        margin-top:70px;
    }
    #featured-brokers-container ul {
        list-style: none;
        margin:0;
        padding:0;
    }
    #featured-brokers-container li {
        font-weight: bold;
        margin:2px;
    }
    .featured-brokers-section-title {
        margin-bottom:2px;
        border-bottom:1px solid #acacac;
    }
    .featured-brokers-cols {
        margin-top:10px
    }
</style>

<div id="featured-brokers-container" class="container-fluid" ng-controller="brokersPageController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>FIND BROKERS WITH APARTMENTS FOR RENT IN CT & RI</h4>
                    </div>
                </div>
            </div>

            <!-- CT brokers -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="featured-brokers-section-title">CONNECTICUT</h4>
                    </div>
                </div>
                <div class="row featured-brokers-cols">
                    <div class="col-sm-3" ng-repeat="col in ct.cityColumns">
                        <ul>
                            <li ng-repeat="row in col"><a role="button" href="/#/featured-brokers/search/city-state/{{row.city}}%20CT">{{row.city}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>

            <!-- RI brokers -->
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-sm-12">
                        <h4 class="featured-brokers-section-title">RHODE ISLAND</h4>
                    </div>
                </div>
                <div class="row featured-brokers-cols">
                    <div class="col-sm-3" ng-repeat="col in ri.cityColumns">
                        <ul>
                            <li ng-repeat="row in col"><a role="button" href="/#/featured-brokers/search/city-state/{{row.city}}%20RI">{{row.city}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>