<style type="text/css">
    #featured-brokers-container {
        margin-top:70px;
    }
    #featured-brokers-container ul {
        list-style: none;
        margin:0;
        padding:0;
    }
    #featured-brokers-container li {
        font-weight: bold;
        margin:2px;
    }
    .featured-brokers-section-title {
        margin-bottom:2px;
        border-bottom:1px solid #acacac;
    }
    .featured-brokers-cols {
        margin-top:10px
    }
</style>

<div id="featured-brokers-container" class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>FIND BROKERS WITH APARTMENTS FOR RENT IN CT & RI</h4>
                    </div>
                </div>
            </div>

            <!-- CT brokers -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="featured-brokers-section-title">CONNECTICUT</h4>
                    </div>
                </div>
                <div class="row featured-brokers-cols">
                    <div class="col-sm-3">
                        <ul>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Bridgeport%20CT">Bridgeport</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Danbury%20CT">Danbury</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/East%20Hampton%20CT">East Hampton</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/East%20Hartford%20CT">East Hartford</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Groton%20CT">Groton</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Hamden%20CT">Hamden</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Hartford%20CT">Hartford</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Jewett%20City%20CT">Jewett City</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Manchester%20CT">Manchester</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Mansfield%20CT">Mansfield</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Mansfield%20Center%20CT">Mansfield Center</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Middletown%20CT">Middletown</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Naugatuck%20CT">Naugatuck</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/New%20Britian%20CT">New Britain</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/New%20Have%20CT">New Haven</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/New%20London%20CT">New London</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Norwich%20CT">Norwich</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Rocky%20Hill%20CT">Rocky Hill</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Vernon%20CT">Vernon</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Vernon%20Rockville%20CT">Vernon Rockville</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Wallingford%20CT">Wallingford</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Waterbury%20CT">Waterbury</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/West%20Haven%20CT">West Haven</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Willington%20CT">Willington</a></li>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Windham%20CT">Windham</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>

            <!-- RI brokers -->
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-sm-12">
                        <h4 class="featured-brokers-section-title">RHODE ISLAND</h4>
                    </div>
                </div>
                <div class="row featured-brokers-cols">
                    <div class="col-sm-4">
                        <ul>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Johnston%20RI">Johnston</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Wakefield%20RI">Wakefield</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li><a role="button" href="/#/featured-brokers/search/city-state/Westerly%20RI">Westerly</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>