<style type="text/css">
    #search-results-loading {
        display:none;
        margin-top:100px;
    }
    .search-page {
        margin-top: 70px;
    }
    .search-message p {
        color: green;
    }
    #searchHeading {
        background: #f2c747 none;
    }
    #searchCollapse {
        background-color:#F9E6B0;
    }
    #searchButtonRow {
        padding-top:10px;
    }
    .search-well {
        background: #f9f9f9 none;
        font-size: 11px;
    }
    .search-text-rent {
        font-size: 14px;
        color: red;
    }
</style>
<div ng-controller="listingSearchController" class="search-page">

    <!-- loading screen -->
    <div id="search-results-loading" class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img class="center-block" src="/images/ajax-loader.gif">
            </div> 
        </div>
    </div>

    <!-- in the case of a successful request -->
    <div ng-if="listings.result == 'success'">

        <!-- success summary message -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 search-message">
                    <p>
                       Your apartment / house rental Search in <strong>{{successMessage.zipOrCityState}}</strong>
                       has returned <strong>{{listings.count}}</strong> listings out of a database of
                       <strong>{{totalActiveListings}}</strong> Current, Active, Local Listings.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <!-- collapsible search form -->
                    <div id="searchAccordian" class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="searchHeading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-target="#searchCollapse">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        <strong>Search Controls</strong>
                                    </a>
                                </h4>
                            </div>
                            <div id="searchCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="searchHeading" data-expanded="false">
                                <div class="panel-body">
                                    <form class="form">

                                        <!-- first row of controls -->
                                        <div class="container-fluid">
                                            <div class="row">

                                                <!-- location inputs -->
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="cityStateOrZip">City/State or Zip</label>
                                                        <input id="cityStateOrZip" type="text" class="form-control" placeholder="City and State Or Zip" ng-model="listingSearchParams.cityStateOrZip">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="radius">Radius</label>
                                                        <select class="form-control" id="radius" ng-model="listingSearchParams.radius">
                                                            <option value="">no radius</option>
                                                            <option value="10">10 miles</option>
                                                            <option value="15">15 miles</option>
                                                            <option value="20">20 miles</option>
                                                            <option value="25">25 miles</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <!-- room inputs -->
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="bedrooms">Bedrooms</label>
                                                        <select class="form-control" id="bedrooms" ng-model="listingSearchParams.numberOfBedrooms">
                                                            <option value="">all</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="bathrooms">Bathrooms</label>
                                                        <select class="form-control" id="bathrooms" ng-model="listingSearchParams.numberOfBathrooms">
                                                            <option value="">all</option>
                                                            <option value="1">1</option>
                                                            <option value="1.5">1&#189;</option>
                                                            <option value="2">2</option>
                                                            <option value="2.5">2&#189;</option>
                                                            <option value="3">3</option>
                                                            <option value="3.5">3&#189;</option>
                                                            <option value="4">4</option>
                                                            <option value="4.5">4&#189;</option>
                                                            <option value="5">5</option>
                                                            <option value="5.5">5&#189;</option>
                                                            <option value="6">6</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <!-- rent inputs -->
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="min-rent">Min. Rent</label>
                                                        <select class="form-control" id="min-rent" ng-model="listingSearchParams.minRent">
                                                            <option value="">all</option>
                                                            <option value="700.00">$700.00</option>
                                                            <option value="800.00">$800.00</option>
                                                            <option value="900.00">$900.00</option>
                                                            <option value="1000.00">$1000.00</option>
                                                            <option value="1100.00">$1100.00</option>
                                                            <option value="1200.00">$1200.00</option>
                                                            <option value="1300.00">$1300.00</option>
                                                            <option value="1400.00">$1400.00</option>
                                                            <option value="1500.00">$1500.00</option>
                                                            <option value="1600.00">$1600.00</option>
                                                            <option value="1700.00">$1700.00</option>
                                                            <option value="1800.00">$1800.00</option>
                                                            <option value="1900.00">$1900.00</option>
                                                            <option value="2000.00">$2000.00</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="max-rent">Max. Rent</label>
                                                        <select class="form-control" id="max-rent" ng-model="listingSearchParams.maxRent">
                                                            <option value="">all</option>
                                                            <option value="700.00">$700.00</option>
                                                            <option value="800.00">$800.00</option>
                                                            <option value="900.00">$900.00</option>
                                                            <option value="1000.00">$1000.00</option>
                                                            <option value="1100.00">$1100.00</option>
                                                            <option value="1200.00">$1200.00</option>
                                                            <option value="1300.00">$1300.00</option>
                                                            <option value="1400.00">$1400.00</option>
                                                            <option value="1500.00">$1500.00</option>
                                                            <option value="1600.00">$1600.00</option>
                                                            <option value="1700.00">$1700.00</option>
                                                            <option value="1800.00">$1800.00</option>
                                                            <option value="1900.00">$1900.00</option>
                                                            <option value="2000.00">$2000.00</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="searchButtonRow" class="row">
                                                <div class="col-sm-12">
                                                    <button type="button" class="btn btn-default center-block" ng-click="performSearch()">Search Listings</button>
                                                </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $('#searchCollapse').collapse('hide');
                    </script>
                </div>
            </div>
        </div>

        <!-- loop through all listings and display them -->
        <div class="container-fluid">
            <div class="row" ng-repeat="listing in listings.listings">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="well search-well">

                        <!-- row for each listing -->
                        <div class="row">

                            <!-- column for picture -->
                            <div class="col-md-2">

                            </div>

                            <!-- column for text / well -->
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5><a role="button" ng-click="goToListing(listing.ListingID)"><strong>{{listing.Headline}}</strong></a></h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="search-text-rent">${{listing.Rent}}</div>
                                        <div>Bedrooms: {{listing.Bedrooms}}</div>
                                        <div>Bathrooms: {{listing.Bathrooms}}</div>
                                    </div>
                                    <div class="col-md-4">
                                        {{listing.Address}}<br>
                                        {{listing.City}}, {{listing.State}}. {{listing.ZipCode}}<br>
                                    </div>
                                    <div class="col-md-5">

                                    </div>
                                </div>

                                <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-12" style="font-size: 11px;">
                                        {{listing.MarketingMessage | limitTo:190 }}<span ng-if="listing.MarketingMessage.length >= 190">...</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- in the case of an error -->
    <div class="row" ng-if="listings.result == 'error' || listings.result == 'server error'">
        <div class="col-md-10 col-md-offset-1">
            <div class="well">
                <h4>Type: {{listings.result}}</h4>
                <ul class="list-unstyled">
                    Reasons:
                    <li ng-repeat="reason in listings.reasons">{{reason}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>
