<style type="text/css">
    #popular-searches-body {
        background: #f2c747 none;
    }
    .popular-searches-column {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .popular-searches-column a {
        color: black;
    }
</style>

<div class="container-fluid" ng-controller="popularSearchesController">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 well" id="popular-searches-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>POPULAR APARTMENT SEARCHES</h5>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" ng-repeat="column in popularSearches.searchColumns">
                                <ul class="popular-searches-column">
                                    <li ng-repeat="row in column"><a role="button" href="/#/search?city-state={{row.city}}, {{row.state}}">{{row.city}}, {{row.state}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>