<style type="text/css">
    #blog-view-header {
        border-bottom: 1px solid #bdbdbd;
        padding-bottom: 5px;
        font-style: italic;
    }
</style>
<div class="container-fluid" ng-controller="blogViewController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <b><h3 id="blog-view-header">Recent Blogs</h3></b>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4" ng-repeat="blog in blogs">
                        <b>{{blog.post_title}}</b>
                        <p>{{blog.post_content | limitTo:90}}</p>
                        <a href="">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>