<style type="text/css">
    #display-contact-loading {
        display:none;
        margin-top:50px;
        margin-bottom:50px;
    }
    #contact-owner-section{
        margin-top: 10px;
        display:none;
    }
    #contact-email-message {
        display:none;
        margin-top:10px;
    }
    .required-field{
        color:#a94442;
    }
</style>

<div ng-controller="contactFormController">

    <div id="display-contact-loading" class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img class="center-block" src="/images/ajax-loader.gif">
            </div>
        </div>
    </div>

    <div id="contact-owner-section" class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Email Owner / Property Manager</h4>
                <div class="well">
                    <form>
                        <h4>{{message.subject}}</h4>
                        <div class="form-group" ng-class="{'has-error': !validation.senderFirstNameValid}">
                            <label for="first-name">First Name <span class="required-field">(required)</span></label>
                            <input ng-model="message.senderFirstName" type="text" class="form-control" id="first-name" placeholder="e.g. John">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last Name</label>
                            <input ng-model="message.senderLastName" type="text" class="form-control" id="last-name" placeholder="e.g. Doe">
                        </div>
                        <div class="form-group" ng-class="{'has-error': validation.senderEmailNotValid}">
                            <label for="email">Email <span class="required-field">(required)</span></label>
                            <input ng-model="message.senderEmail" email-validation="senderEmailNotValid" type="text" class="form-control" id="email" placeholder="john.doe@email.com">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input ng-model="message.senderPhone" type="text" class="form-control" id="phone" placeholder="203-555-1234">
                        </div>
                        <div class="form-group">
                            <label for="message" >Common Questions / Requests: <span class="required-field">(required)</span></label>
                            <select class="form-control" id="message" ng-model="message.MessageObj" ng-options="question.label for question in questions">
                                <option value="">Select One</option>
                                <!--<option value="Visit">Please call/email me to set up a visit to your apartment(s)</option>
                                <option value="Pets">Do you allow pets?</option>
                                <option value="Availability">When is the apartment available?</option>
                                <option value="Questions">Other - Please call me so that I can ask questions</option>-->
                            </select>
                        </div>
                        <div class="form-group" ng-class="{'has-error': !validation.senderAdditionalMessageValid}">
                            <label for="additional">{{additionalField.title}}</label>
                            <textarea ng-show="showAdditionalField()" ng-model="message.senderAdditionalMessage" id="additional" class="form-control ng-hide" rows="4"></textarea>
                        </div>
                        <button ng-click="submit()" type="submit" id="email-submit-button" class="btn btn-primary center-block" ng-disabled="!validation.validateInfo()">Send Contact Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-email-message" class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well">
                    <h4>{{emailResult.MessageTitle}}</h4>
                    <p>{{emailResult.Message}}</p>
                    <button ng-click="goBack()" type="submit" class="btn btn-primary center-block" >Back To Searching</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Call Owner / Property Manager</h4>
                <div class="well">
                    <p>
                        <b>Phone: </b>(877) 262-8397 <b>Extension: </b>{{phoneInfo.extension}}
                    </p>
                    <p>When requested please enter the extension number to be connected to the leasing agent and or their answering service.</p>
                    <p>If you are not sure that your message has been received please use the email form above.	</p>
                    <p><i>Please make sure to tell them you found the listing on FindARent.net!</i></p>
                </div>
            </div>
        </div>
    </div>
</div>