<style type="text/css">
    #contact-owner-section{
        margin-top: 10px;
    }
</style>

<div ng-controller="contactFormController">
    <div id="contact-owner-section" class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Email Owner / Property Manager</h4>
                <div class="well">
                    <form>
                        <h4>{{message.subject}}</h4>
                        <div class="form-group" ng-class="{'has-error': !validation.senderFirstNameValid}">
                            <label for="first-name">First Name (required)</label>
                            <input ng-model="message.senderFirstName" type="text" class="form-control" id="first-name" placeholder="e.g. John">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last Name</label>
                            <input ng-model="message.senderLastName" type="text" class="form-control" id="last-name" placeholder="e.g. Doe">
                        </div>
                        <div class="form-group" ng-class="{'has-error': validation.senderEmailNotValid}">
                            <label for="email">Email</label>
                            <input ng-model="message.senderEmail" email-validation="senderEmailNotValid" type="text" class="form-control" id="email" placeholder="john.doe@email.com">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input ng-model="message.senderPhone" type="text" class="form-control" id="phone" placeholder="203-555-1234">
                        </div>
                        <div class="form-group">
                            <label for="message" >Common Questions / Requests:</label>
                            <select class="form-control" id="message" ng-model="message.MessageObj" ng-options="question.label for question in questions">
                                <option value="">Select One</option>
                                <!--<option value="Visit">Please call/email me to set up a visit to your apartment(s)</option>
                                <option value="Pets">Do you allow pets?</option>
                                <option value="Availability">When is the apartment available?</option>
                                <option value="Questions">Other - Please call me so that I can ask questions</option>-->
                            </select>
                        </div>
                        <div class="form-group" ng-class="{'has-error': !validation.senderAdditionalMessageValid}">
                            <label for="additional">{{additionalField.title}}</label>
                            <textarea ng-show="showAdditionalField()" ng-model="message.senderAdditionalMessage" id="additional" class="form-control ng-hide" rows="4"></textarea>
                        </div>
                        <button ng-click="submit()" type="submit" class="btn btn-primary">Send Contact Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>