<style type="text/css">
    #display-community-loading {
        display:none;
        margin-top:50px;
        margin-bottom:50px;
    }
    #display-community-success {
        display:none;
    }
    #community-display-container {
        margin-top:10px;
    }
    #community-display-container hr {
        border-color: #acacac;
    }
    #contact-owner-button-area{
        margin-top:20px;
        margin-bottom:20px;
    }
    #display-community-carousel {
        min-height: 250px;
        min-width: 330px;
    }

    .community-display-img {
        max-width: 330px;
    }
    .main-button-menu-border {
        border-top: 1px solid #acacac;
        border-bottom: 1px solid #acacac;
        padding-top:10px;
        padding-bottom:10px;
        height:100%;
        display:block;
    }
    .main-button-menu-container {
        display:table;
    }
    .main-button-menu {
        list-style: none;
        margin:0;
        padding:0;
        display:inline-block;
    }
    .main-button-menu li {
        padding: 8px;
        text-align: center;
        float:left;
        width: 150px;
        background-color: #E0E0E0;
        margin: 1px;
        height: 100px;
    }
    .main-button-menu .glyphicon {
        font-size: 36px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main-button-menu span {
        display: block;
        font-size: 14px;
    }
    .main-button-menu li:hover {
        background-color: #f2c747;
    }
    @media only screen and (max-width:600px) {

        .main-button-menu li{
            padding: 6px;
            width: 100px;
            height: 85px;
        }
        .main-button-menu .glyphicon {
            font-size:24px;
        }
        .main-button-menu span {
            font-size: 10px;
        }
    }
</style>

<div ng-controller="displayCommunityController" id="community-display-container">
    <!-- modal for emailing a friend -->
    <div class="modal fade" id="email-friend-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Email Listing To Friend</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="listing-title" class="col-sm-3 control-label">Listing Title</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="listing-title" placeholder="John Doe" value="" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Your Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="name" placeholder="John Doe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="your-email" class="col-sm-3 control-label">Your Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="your-email" placeholder="jdoe@email.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="friends-name" class="col-sm-3 control-label">Friend's Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="friends-name" placeholder="Joe Doe">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="friends-email" class="col-sm-3 control-label">Friend's Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="friends-email" placeholder="joedoe@otheremail.com">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- loading screen -->
    <div id="display-community-loading" class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img class="center-block" src="/images/ajax-loader.gif">
            </div>
        </div>
    </div>

    <div ng-if="community.result == 'success'" id="display-community-success">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">


                <div>Community {{community.CommunityID}} Details</div>

                <!-- title and slide show -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #2d6c9c;"><strong>{{community.Headline}}</strong></h3>
                        </div>
                    </div>
                </div>

                <br>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="http://findarent.net/Images/Communities/{{community.Advertisement}}" class="img-rounded center-block community-display-img">
                        </div>
                        <div class="col-lg-6">
                            <h4><strong>Community Information</strong></h4>
                            <table class="table table-striped">
                                <tr>
                                    <th>Address</th>
                                    <td>
                                        {{community.Address}}<br>
                                        {{community.City}}, {{community.State}}. {{community.ZipCode}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone Number</th>
                                    <td>{{community.Phone}}</td>
                                </tr>
                                <tr>
                                    <th>Fax Number</th>
                                    <td>{{community.Fax}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{community.Email}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <br>

                <!-- UI button section -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-button-menu-border">
                                <div class="center-block main-button-menu-container">
                                    <ul class="main-button-menu">
                                        <li role="button" ng-click="seeOnMap()" >
                                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                            <span>View this community on Map</span>
                                        </li>
                                        <li role="button" ng-click="gotToListingSearch()">
                                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                                            <span>See other properties for this community</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><strong>{{community.Community}}</strong></h3>
                        </div>
                    </div>
                </div>

                <!-- Marketing Message -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div ng-bind-html="community.MarketingMessage"></div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" id="contact-owner-button-area">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger center-block" ng-click="contactOwner()">CLICK HERE TO CONTACT THE OWNER</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div ng-if="community.result == 'error' || community.result == 'server error'">
        <div class="col-md-10 col-md-offset-1">
            <div class="well">
                <h4>Type: {{community.result}}</h4>
                <ul class="list-unstyled">
                    Reasons:
                    <li ng-repeat="reason in listing.reasons">{{community.reason}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>