<style type="text/css">
    #featured-communities-container {
        margin-top:70px;
    }
    #featured-communities-container ul {
        list-style: none;
        margin:0;
        padding:0;
    }
    #featured-communities-container li {
        font-weight: bold;
        margin:2px;
    }
    .featured-communities-section-title {
        margin-bottom:2px;
        border-bottom:1px solid #acacac;
    }
    .featured-communities-cols {
        margin-top:10px
    }
</style>

<div id="featured-communities-container" class="container-fluid" ng-controller="communitiesPageController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>FIND COMMUNITIES WITH APARTMENTS FOR RENT IN CT & RI</h4>
                    </div>
                </div>
            </div>

            <!-- CT communities -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="featured-communities-section-title">CONNECTICUT</h4>
                    </div>
                </div>
                <div class="row featured-communities-cols">
                    <div class="col-sm-3" ng-repeat="col in ct.cityColumns">
                        <ul>
                            <li ng-repeat="row in col"><a role="button" href="/#/featured-communities/search/city-state/{{row.city}}%20CT">{{row.city}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>

            <!-- RI communities -->
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-sm-12">
                        <h4 class="featured-communities-section-title">RHODE ISLAND</h4>
                    </div>
                </div>
                <div class="row featured-communities-cols">
                    <div class="col-sm-4" ng-repeat="col in ri.cityColumns">
                        <ul>
                            <li ng-repeat="row in col"><a role="button" href="/#/featured-communities/search/city-state/{{row.city}}%20RI">{{row.city}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>