<style type="text/css">
    #footer-nav{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #footer-nav li {
        float: left;
        margin:2px;
        text-align: center;
        font-size:12px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul id="footer-nav">
                <li><a role="button">About</a> | </li>
                <li><a role="button">Contact</a> | </li>
                <li><a role="button">Privacy Policy</a> | </li>
                <li><a role="button">Equal Housing Opportunity</a></li>
            </ul>
        </div>
    </div>
</div>