<style type="text/css">
    #footer-nav{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #footer-nav li {
        float: left;
        margin:2px;
        text-align: center;
        font-size:12px;
    }
    #footer-copyright{
        font-size:12px;
        float: right;
        margin:2px;
    }
    #footer-section{
        margin-bottom: 10px;
    }
</style>
<div class="container-fluid" id="footer-section">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul id="footer-nav">
                <li><a href="/About" role="button">About</a> | </li>
                <li><a href="/Contact" role="button">Contact</a> | </li>
                <li><a href="/Privacy" role="button">Privacy Policy</a> | </li>
                <li><a href="/Equal" role="button">Equal Housing Opportunity</a></li>
            </ul>
            <span id="footer-copyright">&#169; Copyright 2015 - FindARent.net</span>
        </div>
    </div>
</div>