<style type="text/css">
    #search-results-loading {
        display:none;
        margin-top:50px;
        margin-bottom:50px;
    }
    #search-results-section {
        /*display:none;*/
    }
    .search-page {
        margin-top: 10px;
    }
    .search-message p {
        color: green;
    }
    #searchHeading {
        background: #f2c747 none;
    }
    #searchCollapse {
        background-color:#F9E6B0;
    }
    #searchButtonRow {
        padding-top:10px;
    }
    .search-well {
        background: #f9f9f9 none;
        font-size: 11px;
    }
    .search-well-img {
        margin-top:10px;
        background-color: #494949;
        height:100px;
        width:150px;
        float:left;
        margin-right:10px;
    }
    .search-well-img img {
        max-height:100px;
    }
    .search-well-btn {
        float:right;
    }
    .search-text-rent {
        font-size: 14px;
        color: red;
    }
    .contents h4{
        margin-top:0;
        margin-bottom:5px;
        padding-bottom:3px;
        border-bottom:1px solid grey;
    }
    .contents img {
        max-height:140px;
        max-width:175px;
    }
    .small{
        font-size:11px;
    }
    .result{
        border-collapse:collapse;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom:-1px;
    }
    .contents{
        padding:5px;
        font-size:11px;
    }
    .img{
        height:140px;
        width:175px;
        background-color:#494949;
        float:left;
    }
    .address {
        font-size: 12px;
    }
    @media only screen and (max-width:1380px) {
        .contents img {
            max-height:100px;
            max-width:125px;
        }
        .img{
            height:100px;
            width:125px;
            background-color:#494949;
            float:left;
        }
    }
    @media only screen and (max-width:1024px) {
        .contents img {
            display:none;
        }
        .img{
            display:none;
        }

        .stretch{
            width:100%;
        }
    }
</style>
<div ng-controller="listingSearchController" class="search-page">

    <!-- success summary message -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 search-message">
                <p>
                    Your apartment / house rental Search in <strong>{{successMessage.zipOrCityState}}</strong>
                    has returned <strong>{{listingResultCount}}</strong> listings out of a database of
                    <strong>{{totalActiveListings}}</strong> Current, Active, Local Listings.</p>
            </div>
        </div>
    </div>

    <!-- search form -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <!-- collapsible search form -->
                <div id="searchAccordian" class="panel-group" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="searchHeading">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-target="#searchCollapse">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    <strong>Refine Search</strong>
                                </a>
                            </h4>
                        </div>
                        <div id="searchCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="searchHeading" data-expanded="false">
                            <div class="panel-body">
                                <form class="form">

                                    <!-- first row of controls -->
                                    <div class="container-fluid">
                                        <div class="row">

                                            <!-- location inputs -->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="cityStateOrZip">City/State or Zip</label>
                                                    <input id="cityStateOrZip" type="text" class="form-control" placeholder="City and State Or Zip" autocomplete ng-model="listingSearchParams.cityStateOrZip">
                                                </div>
                                                <div class="form-group">
                                                    <label for="radius">Radius</label>
                                                    <select class="form-control" id="radius" ng-model="listingSearchParams.radius">
                                                        <option value="">no radius</option>
                                                        <option value="5">5 miles</option>
                                                        <option value="10">10 miles</option>
                                                        <option value="15">15 miles</option>
                                                        <option value="20">20 miles</option>
                                                        <option value="25">25 miles</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- room inputs -->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="bedrooms">Bedrooms</label>
                                                    <select class="form-control" id="bedrooms" ng-model="listingSearchParams.numberOfBedrooms">
                                                        <option value="">all</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="6">Studio</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="bathrooms">Bathrooms</label>
                                                    <select class="form-control" id="bathrooms" ng-model="listingSearchParams.numberOfBathrooms">
                                                        <option value="">all</option>
                                                        <option value="1">1</option>
                                                        <option value="1.5">1&#189;</option>
                                                        <option value="2">2</option>
                                                        <option value="2.5">2&#189;</option>
                                                        <option value="3">3</option>
                                                        <option value="3.5">3&#189;</option>
                                                    </select>
                                                </div>
                                                <!--<div class="form-group">
                                                    <label for="bathrooms">Rental Type</label>
                                                    <select class="form-control" id="type" ng-model="listingSearchParams.rentalType">
                                                        <option value="">any</option>
                                                        <option value="Rentals">Rentals</option>
                                                        <option value="Subsidized / 62+ / Disabled">Subsidized / 62+ / Disabled</option>
                                                        <option value="Vacation Rentals">Vacation Rentals</option>
                                                        <option value="Furnished / Short-Term Rentals">Furnished / Short-Term Rentals</option>
                                                        <option value="Rent to Own">Rent to Own</option>
                                                    </select>
                                                </div>-->
                                            </div>

                                            <!-- rent inputs -->
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="min-rent">Min. Rent</label>
                                                    <select class="form-control" id="min-rent" ng-model="listingSearchParams.minRent">
                                                        <option value="">all</option>
                                                        <option value="200.00">$200.00</option>
                                                        <option value="300.00">$300.00</option>
                                                        <option value="400.00">$400.00</option>
                                                        <option value="500.00">$500.00</option>
                                                        <option value="600.00">$600.00</option>
                                                        <option value="700.00">$700.00</option>
                                                        <option value="800.00">$800.00</option>
                                                        <option value="900.00">$900.00</option>
                                                        <option value="1000.00">$1000.00</option>
                                                        <option value="1100.00">$1100.00</option>
                                                        <option value="1200.00">$1200.00</option>
                                                        <option value="1300.00">$1300.00</option>
                                                        <option value="1400.00">$1400.00</option>
                                                        <option value="1500.00">$1500.00</option>
                                                        <option value="1600.00">$1600.00</option>
                                                        <option value="1700.00">$1700.00</option>
                                                        <option value="1800.00">$1800.00</option>
                                                        <option value="1900.00">$1900.00</option>
                                                        <option value="2000.00">$2000.00</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="max-rent">Max. Rent</label>
                                                    <select class="form-control" id="max-rent" ng-model="listingSearchParams.maxRent">
                                                        <option value="">all</option>
                                                        <option value="700.00">$700.00</option>
                                                        <option value="800.00">$800.00</option>
                                                        <option value="900.00">$900.00</option>
                                                        <option value="1000.00">$1000.00</option>
                                                        <option value="1100.00">$1100.00</option>
                                                        <option value="1200.00">$1200.00</option>
                                                        <option value="1300.00">$1300.00</option>
                                                        <option value="1400.00">$1400.00</option>
                                                        <option value="1500.00">$1500.00</option>
                                                        <option value="1600.00">$1600.00</option>
                                                        <option value="1700.00">$1700.00</option>
                                                        <option value="1800.00">$1800.00</option>
                                                        <option value="1900.00">$1900.00</option>
                                                        <option value="2000.00">$2000.00</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div id="searchButtonRow" class="row">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-default center-block" ng-click="performSearch()">Search Listings</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#searchCollapse').collapse('hide');
                </script>
            </div>
        </div>
    </div>

    <!-- loading screen -->
    <div id="search-results-loading" class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img class="center-block" src="/images/ajax-loader.gif">
            </div>
        </div>
    </div>

    <!-- in the case of a successful request -->
    <div ng-if="searchResult == 'success'" id="search-results-section">

        <!-- loop through all listings and display them -->
        <div class="container-fluid"
             ng-repeat="result in results | orderBy:['Type','Rent']"
             ng-show="( $index >= ( ( pagination.currentPage - 1 ) * pagination.numPerPage ) ) && ( $index < ( pagination.currentPage * pagination.numPerPage ) )">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <div class="container-fluid" ng-if="result.Type === 1">
                        <div class="row result contents">
                            <div class="img">
                                <img src="http://findarent.net/Images/Listings/{{result.ImageURL}}" class="center-block" >
                            </div>
                            <div class="container-fluid col-sm-9 stretch">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4><a role="button" ng-click="goToListing(result.ListingID)"><strong>{{result.Headline}}</strong></a></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="address">{{result.Address}}, {{result.City}}, {{result.State}}. {{result.ZipCode}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="search-text-rent">${{result.Rent}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>bedrooms:
                                            <span ng-if="result.Bedrooms == 6">Studio</span>
                                            <span ng-if="result.Bedrooms != 6">{{result.Bedrooms}}</span> • bathrooms: {{result.Bathrooms}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>{{result.MarketingMessage | limitTo:190 }}<span ng-if="result.MarketingMessage.length >= 190">...</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid" ng-if="result.Type === 2">
                        <div class="row result contents">
                            <div class="img">
                                <img src="http://findarent.net/Images/Communities/{{result.Advertisement}}" class="center-block" >
                            </div>
                            <div class="container-fluid col-sm-9 stretch">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4><a role="button" ng-click="goToCommunity(result.CommunityID)"><strong>{{result.Community}}</strong></a></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="address">{{result.Address}}, {{result.City}}, {{result.State}}. {{result.ZipCode}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>{{result.MarketingMessage | limitTo:190 }}<span ng-if="result.MarketingMessage.length >= 190">...</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid" ng-if="result.Type === 3">
                        <div class="row result contents">
                            <div class="img">
                                <img src="http://findarent.net/Images/Brokers/{{result.Headshot}}" class="center-block" >
                            </div>
                            <div class="container-fluid col-sm-9 stretch">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4><a role="button" ng-click="goToBroker(result.BrokerID)"><strong>{{result.BusinessName}} - {{result.FirstName}} {{result.LastName}}</strong></a></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="address">{{result.Address}}, {{result.City}}, {{result.State}}. {{result.ZipCode}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>{{result.MarketingMessage | limitTo:190 }}<span ng-if="result.MarketingMessage.length >= 190">...</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- pagination buttons -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <nav class="center-block" style="display:table;">
                        <ul class="pagination">
                            <li>
                                <a role="button" ng-click="firstPage()">First</a>
                            </li>
                            <li>
                                <a role="button" ng-click="previousPage()" aria-label="Previous">&laquo;</a>
                            </li>
                            <li ng-repeat="page in pagination.pages" ng-class="(page === pagination.currentPage) ? 'active' : ''"
                                ng-show="(pagination.currentPage - 2 <= 0)
                                    ? (page <= 5)
                                    : ((pagination.currentPage + 2 > pagination.numPages)
                                        ? (page > pagination.currentPage - (5 - (pagination.numPages - pagination.currentPage)))
                                        : (page <= pagination.currentPage + 2) && (page >= pagination.currentPage - 2) ) ">
                                <a role="button" ng-click="goToPage(page)">{{page}}</a>
                            </li>
                            <li><a role="button" ng-click="nextPage()" aria-label="Next">&raquo;</a></li>
                            <li>
                                <a role="button" ng-click="lastPage()">Last</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="center-block" style="display:table;">page <strong>{{pagination.currentPage}}</strong> of <strong>{{pagination.numPages}}</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="center-block" style="display:table;"><i>Didn't find what you were looking of? Try narrowing your search!</i></p>
                </div>
            </div>
        </div>

    </div>


    <!-- in the case of an error -->
    <div class="row" ng-if="searchResult == 'error' || searchResult == 'server error'">
        <div class="col-md-10 col-md-offset-1">
            <div class="well">
                <h4>Type: {{listings.result}}</h4>
                <ul class="list-unstyled">
                    Reasons:
                    <li ng-repeat="reason in listings.reasons" ng-class="">{{reason}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- in the case of no results returned -->
    <div class="row" ng-if="searchResult == 'none'" id="no-results-section">
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                    <h4>No results returned!</h4>
                    <h5>click on 'Refine Search' and try narrowing or changing your search!</h5>
            </div>
        </div>
    </div>

</div>
